<h2 class="mb-5">New article</h2>
<%= form_for (@article) do |article| %>
  <%= article.label :title %>
  <%= article.text_field :title %>
  <%= article.label :content %>
  <%= article.text_field :content %>
  <%= article.submit %>
<% end %>
<div class="d-flex mt-5">
  <div class="icon-sm">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
  </svg>
  </div>
  <%= link_to 'Back to all', articles_path, class: 'ms-2' %>
</div>
